APP_NAME=MPWA
APP_ENV=production
APP_DEBUG=false
APP_URL=https://royalthakurofficial.xyz
WA_URL_SERVER=https://wa.royalthakurofficial.xyz
PORT_NODE=3100
APP_INSTALLED=true
TYPE_SERVER=other
DB_CONNECTION=mysql
DB_HOST=nvme.servex.top
DB_PORT=3306
DB_DATABASE=royalthakur_wp
DB_USERNAME=royalthakur_wp
DB_PASSWORD=Thakur@83034
ORIGIN=https://royalthakurofficial.xyz
REGISTERATION=true
